<!--Footer Start-->
<footer id="pq-footer" class="style-1">
    <div class="pq-footer-style-1">
        <div class="pq-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="widget">
                            <img src="/images/logos/footer-logo.png" class="pq-footer-logo" alt="gym-footer-logo">
                            <p>
                                We are a start up company which is devoting all its resources to ensure that people all over the world
                                get access to knowledge as skills free of charge. Call us TechPoint. Your Study Patner
                            </p>
                            <div class="pq-footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Our Services</h4>
                            <div class="menu-useful-service-links-container">
                                <ul id="menu-useful-service-links" class="menu">
                                    <li>
                                        <a href="software-development.html">Software Development</a>
                                    </li>
                                    <li>
                                        <a href="web-development.html">Web Development</a>
                                    </li>
                                    <li>
                                        <a href="mobile-development.html">Mobile Development</a>
                                    </li>
                                    <li>
                                        <a href="app-development.html">App Development</a>
                                    </li>
                                    <li>
                                        <a href="qa-testing.html">QA Testing</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="widget">
                            <h4 class="footer-title">Useful link</h4>
                            <div class="menu-useful-link-container">
                                <ul id="menu-usefull-link" class="menu">
                                    <li>
                                        <a href="/About">About Us</a>
                                    </li>
                                    <li>
                                        <a href="/Dashboard">My Account</a>
                                    </li>
                                    <li>
                                        <a href="/Blog">Blog</a>
                                    </li>
                                    <li>
                                        <a href="/Logout">Logout</a>
                                    </li>
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6">
                        <div class="pq-widget-menu widget">
                            <h4 class="footer-title">Recent post</h4>
                            <% if(footerBlogs.length>0){%>
                                <%footerBlogs.forEach(item=>{%>
                                    <div class="pq-footer-recent-post">
                                        <div class="pq-footer-recent-post-media">
                                            <a href="/blog/<%= item.Slug %>">
                                                <img src="<%= `Uploads/${item.FeaturedImage}` %>" alt="<%= item.Title %>" style="width: 80px;">
                                            </a>
                                        </div>
                                        <div class="pq-footer-recent-post-info">
                                            <h6><a href="/blog/<%= item.Slug %>"> <%= item.Title.substring(0,30)%>...</a></h6>
                                            <a href="/blog/<%= item.Slug %>"
                                                class="pq-post-date"> <%= moment(item.createdAt, "YYYYMMDD").fromNow(); %></a>
                                        </div>
                                    </div>
                                <%})%>
                            <%}else{ %> 
                                <div class="alert alert-danger">
                                    <strong>Error!</strong> Check Later
                                </div>
                            <%} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-copyright-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <span class="pq-copyright"><a target="_blank" href="#"> Copyright &copy; <%= new Date().getFullYear() %> <%= apptitle %>  All Rights
                            Reserved.</a></span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="pq-footer-link">
                            <ul>
                                <li><a href="#">Career</a></li>
                                <li><a href="#">Term Of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->

<!--Back to top Start-->
<div id="back-to-top">
    <a class="top" id="#top" href="#"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!--Back to top End-->
<!--Jquery js-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!--Bootstrap js-->
<script src="/js/bootstrap.min.js"></script>
<!--Owl Carousel js-->
<script src="/js/owl.carousel.min.js"></script>
<!--Progressbar js-->
<script src="/js/progressbar.js"></script>
<!--Isotope js-->
<script src="/js/isotope.pkgd.min.js"></script>
<!--Counter js -->
<script src="/js/jquery.countTo.min.js"></script>
<!--Magnefic Popup js -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!--Animation JS -->
<script src="/js/wow.min.js"></script>
<!--Rev Slider js-->
<script src="/rev/js/rbtools.min.js"></script>
<script src="/rev/js/rs6.min.js"></script>
<script src="/js/rev-custom.js"></script>
<!--Custom js-->
<script src="/js/rough-script.js"></script>
<script src="/js/rough-notation.iife.js"></script>
<script src="/js/rough-custom.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>