<%- include('../../../Layouts/Backend/Header.ejs') %>
<div>
    <div class="container">
        <div class="row">
            <% if(errorMessage){ %>
            <div class="alert alert-danger bg-danger">
                <strong>Error</strong>
                <%= errorMessage %>
            </div>
            <% } %>
            <div class="col-sm-8 offset-sm-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Update Article: <%= article.Title %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <form id="articleForm" enctype="multipart/form-data">
                            <div class="text-danger text-center" id="errorClass">
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="Title" class="label-control">Title</label>
                                    <input type="text" name="ArticleTitle" id="ArticleTitle" class="form-control" value="<%= article.Title %>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Featured Image</label>
                                        <input type="file" name="ArticleImage" id="ArticleImage" class="form-control" accept="image/*">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Category</label>
                                        <select name="ArticleCategory" id="ArticleCategory" class="form-control" onchange="getSubcategories(this.value)">
                                            <option label="--Select Category--"></option>
                                            <% if (categories.length > 0){ %>
                                                <% categories.map(item=>{ %>
                                                    <option value="<%= item.categoryName %>"<% if(article.blogCategory=== item.categoryName){%> selected <%} %>><%= item.categoryName %></option>
                                               <%}) %>
                                            <%}else{ %>
                                                <option label="--No Category--" class="text-danger"></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Sub Category</label>
                                        <select name="ArticleSubCategory" id="ArticlesSubCategory" class="form-control">
                                            <option value="<%= article.blogSubCategory %>"><%= article.blogSubCategory %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Publish Date</label> 
                                        <input type="date" name="PublishDate" id="ArticlePublish" class="form-control" min="<%= article.publishDate.toISOString().split("T")[0] %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="content" class="label-control">Content</label>
                                    <textarea name="content" id="ArticleContent" class="form-control" data-content="<%= article.BlogContent %>"><%= article.BlogContent %></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-4">
                                    <button class="btn bg-warning btn-block  mt-3">
                                        Update Article
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../../Layouts/Backend/Footer.ejs') %>
<script>
    let editor;
 $(function () {
    ClassicEditor
        .create( document.querySelector( '#ArticleContent' ) ,{
            placeholder: 'Please type your content Here',
            ckfinder:
            {
            uploadUrl: 'Ckeditor/'
            }
        }).then(newEditor=>{
            editor = newEditor;
        })
        .catch( err => {
           
        } );
    });
    const getSubcategories = async( data)=>{
        const sfield = document.querySelector( 'select#ArticlesSubCategory');
        sfield.innerHTML=""
        const opt = document.createElement("option")
        opt.setAttribute("label","--Loading Data---")
        opt.textContent = ""
        if(data){
            sfield.appendChild(opt)
            //then fetch the data from the backend 
            const res = await fetch("/Get/Subategories",{
                method:'post',
                body:JSON.stringify({
                    CategoryName:data
                }),
                headers:{
                    'Content-Type':'application/json'
                }
            })
            const resp = await res.json()
            if(resp.subcategories.length > 0){
                let subcategories = resp.subcategories
                subcategories.forEach(item=>{
                    const opt = document.createElement("option")
                    opt.setAttribute("value",item.SubCategory)
                    opt.setAttribute("class","bg-warning")
                    opt.textContent = item.SubCategory
                    sfield.appendChild(opt)
                })
            }else{
                const opt = document.createElement("option")
                opt.setAttribute("label","--No Data Available---")
                opt.setAttribute("class","bg-danger")
                opt.textContent = ""
                sfield.appendChild(opt)
            }
            
        }else{
            sfield.innerHTML=""
        }
    }
    const form = document.querySelector("form#articleForm")
    const ArticleError = document.querySelector("div#errorClass")
    form.addEventListener("submit",async (e)=>{
        ArticleError.textContent=""
        e.preventDefault();
        const ArticleTitle = form.ArticleTitle.value
        const ArticleImage = form.ArticleImage.files
        const ArticleCategory = form.ArticleCategory.value
        const ArticleSubCategory = form.ArticleSubCategory.value
        const PublishDate = form.PublishDate.value
        const Content = editor.getData();
        //post the data to the backend 
        const formData = new FormData();
        formData.append("ArticleTitle", ArticleTitle)
        formData.append("ArticleCategory", ArticleCategory)
        formData.append("ArticleSubCategory", ArticleSubCategory)
        formData.append("PublishDate", PublishDate)
        formData.append("Content", Content)
        if(ArticleImage.length>0){
            for(let i=0;i<ArticleImage.length;i++){
                formData.append("FeaturedImage",ArticleImage[i])
            }
        }
        console.log(...formData)
        const res = await fetch("/Update-Post-articles",{
            method: 'post',
            body:formData,
        })
        const resp = await res.json()
        swal(resp.status,`${resp.message}. Reloading...`,resp.status)
        if(resp.status==='success'){
            setTimeout(()=>{
                location.href = "/Articles/User"
            },3000)
        }
    })
</script>