<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= apptitle %>   <%= user.LastName %> Create Blogs</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        ul li.nav-item a {
            color: black !important;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand" href="/">
            <img class="img-fluid logo" src="/images/logos/logo-1.png" width="200px" alt="techtrix">
        </a>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item mt-2 pr-1">
                <a href="/Dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= user.FirstName %>
                    <%= user.LastName %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item" href="/User/Profile">Profile</a>
                    <a class="dropdown-item " href="/Logout">Logout</a>
                </div>
            </li>
        </ul>
    </header>
<div>
    <div class="container">
        <div class="row">
            <% if(errorMessage){ %>
            <div class="alert alert-danger bg-danger">
                <strong>Error</strong>
                <%= errorMessage %>
            </div>
            <% } %>
            <div class="col-sm-10 offset-sm-1">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">
                            Update Article: <%= article.Title %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <form id="articleForm" enctype="multipart/form-data">
                            <div class="text-danger text-center" id="errorClass">
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Title</label>
                                        <input type="text" name="ArticleTitle" id="ArticleTitle" class="form-control" value="<%= article.Title %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Featured Image</label>
                                        <input type="file" name="ArticleImage" id="ArticleImage" class="form-control" accept="image/*">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Category</label>
                                        <select name="ArticleCategory" id="ArticleCategory" class="form-control" onchange="getSubcategories(this.value)">
                                            <option label="--Select Category--"></option>
                                            <% if (categories.length > 0){ %>
                                                <% categories.map(item=>{ %>
                                                    <option value="<%= item.categoryName %>"<% if(article.blogCategory=== item.categoryName){%> selected <%} %>><%= item.categoryName %></option>
                                               <%}) %>
                                            <%}else{ %>
                                                <option label="--No Category--" class="text-danger"></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Sub Category</label>
                                        <select name="ArticleSubCategory" id="ArticlesSubCategory" class="form-control">
                                            <option value="<%= article.blogSubCategory %>"><%= article.blogSubCategory %></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Title" class="label-control">Publish Date</label> 
                                        <input type="date" name="PublishDate" id="ArticlePublish" class="form-control" min="<%= article.publishDate.toISOString().split("T")[0] %>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="content" class="label-control">Content</label>
                                    <textarea name="ArticleContent" id="ArticleContent" class="form-control" data-content="<%= article.BlogContent %>"><%= article.BlogContent %></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-4">
                                    <button class="btn bg-success btn-block  mt-3">
                                        Update Article
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#ArticleContent').summernote({
        });
    });
    const getSubcategories = async( data)=>{
        const sfield = document.querySelector( 'select#ArticlesSubCategory');
        sfield.innerHTML=""
        const opt = document.createElement("option")
        opt.setAttribute("label","--Loading Data---")
        opt.textContent = ""
        if(data){
            sfield.appendChild(opt)
            //then fetch the data from the backend 
            const res = await fetch("/Get/Subategories",{
                method:'post',
                body:JSON.stringify({
                    CategoryName:data
                }),
                headers:{
                    'Content-Type':'application/json'
                }
            })
            const resp = await res.json()
            if(resp.subcategories.length > 0){
                let subcategories = resp.subcategories
                subcategories.forEach(item=>{
                    const opt = document.createElement("option")
                    opt.setAttribute("value",item.SubCategory)
                    opt.setAttribute("class","bg-warning")
                    opt.textContent = item.SubCategory
                    sfield.appendChild(opt)
                })
            }else{
                const opt = document.createElement("option")
                opt.setAttribute("label","--No Data Available---")
                opt.setAttribute("class","bg-danger")
                opt.textContent = ""
                sfield.appendChild(opt)
            }
            
        }else{
            sfield.innerHTML=""
        }
    }
    const form = document.querySelector("form#articleForm")
    const ArticleError = document.querySelector("div#errorClass")
    form.addEventListener("submit",async (e)=>{
        ArticleError.textContent=""
        e.preventDefault();
        const ArticleTitle = form.ArticleTitle.value
        const ArticleImage = form.ArticleImage.files
        const ArticleCategory = form.ArticleCategory.value
        const ArticleSubCategory = form.ArticleSubCategory.value
        const PublishDate = form.PublishDate.value
        const Content = form.ArticleContent.value
        //post the data to the backend 
        const formData = new FormData();
        formData.append("ArticleTitle", ArticleTitle)
        formData.append("ArticleCategory", ArticleCategory)
        formData.append("ArticleSubCategory", ArticleSubCategory)
        formData.append("PublishDate", PublishDate)
        formData.append("Content", Content)
        if(ArticleImage.length>0){
            for(let i=0;i<ArticleImage.length;i++){
                formData.append("FeaturedImage",ArticleImage[i])
            }
        }
        console.log(...formData)
        const res = await fetch("/Update-Post-articles",{
            method: 'post',
            body:formData,
        })
        const resp = await res.json()
        swal(resp.status,`${resp.message}. Reloading...`,resp.status)
        if(resp.status==='success'){
            setTimeout(()=>{
                location.href = "/Articles/User"
            },3000)
        }
    })
</script>
</html>