<%- include('../../Layouts/Backend/Header.ejs') %>
<div>
    <!-- main body content goes here -->
    <div class="container">
        <div class="row mt-2">
            <div class="col-sm-4">
                <% if(profile){ %>
                <div class="card">
                    <div class="card-header text-center">
                        Profile Information
                    </div>
                    <img src="/Uploads/<%= profile.ProfilePicture %>" class="card-img-top m-2 px-2 py-2" height="100px" alt="...">
                    <div class="card-body">
                        <div class="text-center">

                            <span class="text-bold text-black text-center">
                                <%= user.FirstName %> <%= user.LastName %> 
                                <% if(user.AccountStatus==='Verified'){ %>
                                <img src="/img/verified.png" style="width: 15px !important;margin-top:-8px;margin-left:-4px">
                                <%}else{ %>
                                    <sup>
                                        <span class="text-sm text-white bg-danger p-1"> Not Verified</span>
                                    </sup>
                                <%}%>
                            </span>
                        </div>
                        <h5 class="text-center text-bold">
                            Bio
                        </h5>
                        <p class="text-justify" id="textBio" data-bio="<%= profile.Bio %>">
                        </p>
                        <div class="row d-flex align-items-center justify-content-between border-top">
                            <div class="col-sm-6 text-center">
                                <h6 class="text-bold underline">
                                    Country
                                </h6>
                                <span class="badge text-bg-secondary">
                                    <%= profile.Country %>
                                </span>
                            </div>
                            <div class="col-sm-6 text-center">
                                <h6 class="text-center text-bold underline">
                                    Twitter
                                </h6>
                                <span class="text-black">
                                    <a href="http://twitter.com/<%= profile.twitter %>" referrerpolicy="no-referrer" target="_blank" class="p-2 bg-success text-white">
                                        Follow Me
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="text-center text-bold underline">
                                    Member Since
                                </h6>
                                <span class="badge text-bg-secondary">
                                    <%= profile.createdAt.toISOString().split("T")[0] %>
                                </span>
                            </div>
                            <div class="col-sm-6">
                                <% if(user.AccountStatus==='Verified'){ %>
                                    <%}else{ %>
                                        <sup>
                                            <span class="text-sm text-white bg-danger p-1"> 
                                              <a href="/Verify/Account" class="text-white">Verify Account Now</a>
                                            </span>
                                        </sup>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>
                <%} else {%>
                   <div class="card">
                    <img src="/img/user.png" class="card-img-top m-2 px-2 py-2" height="80px" alt="...">
                    <div class="card-body">
                        <div class="alert alert-danger bg-danger text-white">
                            <strong>Error!</strong> Create Your Profile
                        </div>
                    </div>
                   </div>
                <%} %>
            </div>
            <div class="col-sm-8">
                <p class="text-center">
                    Fill  in the Form Below
                </p>
                <div class="forms">
                    <form id="profileForm" enctype="multipart/form-data">
                        <div class="alert " id="profileError"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="DisplayName" id="displayName" class="form-control" placeholder="The Name Attached to your Profile">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="XProfile" id="xprofile" placeholder="Paste your X Username Here(twitter)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="Skills" class="label-control">Professional Field</label>
                                    <select id="select-gear" name="Skills">
                                            <option label="--Select Field Here--"></option>
                                            <option value="pitons">Pitons</option>
                                            <option value="cams">Cams</option>
                                            <option value="nuts">Nuts</option>
                                            <option value="bolts">Bolts</option>
                                            <option value="stoppers">Stoppers</option>
                                            <option value="sling">Sling</option>
                                            <option value="skis">Skis</option>
                                            <option value="skins">Skins</option>
                                            <option value="poles">Poles</option>
                                      </select>      
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Country" class="label-control">Country</label>
                                <select name="Country" class="form-control" id="country">
                                    <option label="--select country--"></option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">&Aring;land Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua &amp; Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="BA">Bosnia &amp; Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="VG">British Virgin Islands</option>
                                    <option value="BN">Brunei</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="BQ">Caribbean Netherlands</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo - Brazzaville</option>
                                    <option value="CD">Congo - Kinshasa</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">C&ocirc;te d&rsquo;Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Cura&ccedil;ao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czechia</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="SZ">Eswatini</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard &amp; McDonald Islands</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong SAR China</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Laos</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao SAR China</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia</option>
                                    <option value="MD">Moldova</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar (Burma)</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="KP">North Korea</option>
                                    <option value="MK">North Macedonia</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territories</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn Islands</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">R&eacute;union</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russia</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">S&atilde;o Tom&eacute; &amp; Pr&iacute;ncipe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                                    <option value="KR">South Korea</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="BL">St. Barth&eacute;lemy</option>
                                    <option value="SH">St. Helena</option>
                                    <option value="KN">St. Kitts &amp; Nevis</option>
                                    <option value="LC">St. Lucia</option>
                                    <option value="MF">St. Martin</option>
                                    <option value="PM">St. Pierre &amp; Miquelon</option>
                                    <option value="VC">St. Vincent &amp; Grenadines</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard &amp; Jan Mayen</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syria</option>
                                    <option value="TW">Taiwan</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad &amp; Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks &amp; Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UM">U.S. Outlying Islands</option>
                                    <option value="VI">U.S. Virgin Islands</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VA">Vatican City</option>
                                    <option value="VE">Venezuela</option>
                                    <option value="VN">Vietnam</option>
                                    <option value="WF">Wallis &amp; Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="Date Of Birth" class="label-control">Date of Birth</label>
                                <input type="date" name="DoB" id="dateofbirth" class="form-control" placeholder="Enter your date of birth">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="Profile Picture" class="label-control">Profile Picture</label>
                                <input type="file" name="ProfilePicture" id="" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="Bio" class="label-control">Bio</label>
                                <textarea name="Bio" id="bio" class="form-control" s></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                           <div class="col-sm-12 mt-3">
                            <button class="btn btn-block btn-primary" type="submit">
                                Submit
                            </button>
                           </div>
                        </div>
                    </form>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../Layouts/Backend/Footer.ejs') %>
<script>
let editor;
 $(function () {
    ClassicEditor
        .create( document.querySelector( '#bio' ) ,{
            placeholder: 'Please type your Bio Here',
        }).then(newEditor=>{
            editor = newEditor;
        })
        .catch( error => {
            console.error( error );
        } );
  });
  const form  = document.querySelector('form#profileForm');
    form.addEventListener('submit', async (e) => {
        document.querySelector('#profileError').classList.remove("alert-danger")
        document.querySelector('#profileError').textContent = ""
        e.preventDefault()
        const  DisplayName = form.DisplayName.value
        const XProfile = form.XProfile.value
        const Skills = form.Skills.value
        const Country = form.Country.value
        const DoB = form.DoB.value
        const  Bio = editor.getData();
        const ProfilePicture = form.ProfilePicture.files
        if( !DisplayName){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "Display Name is Required"
            return;
        }
        if( !XProfile){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "XProfile  is Required"
            return;
        }
        if( !Skills){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "Skills  is Required"
            return;
        }
        if( !Country){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "Country  is Required"
            return;
        }
        if( !DoB){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "DoB  is Required"
            return;
        }
        if( !Bio){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "Bio  is Required"
            return;
        }
        if(ProfilePicture.length<=0){
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = "ProfilePicture  is Required"
            return;
        }
        const formData = new FormData();
        formData.append("DisplayName", DisplayName);
        formData.append("XProfile", XProfile);
        formData.append("Skills", Skills);
        formData.append("Country", Country);
        formData.append("DoB", DoB);
        formData.append("Bio", Bio);
        for(let i=0;i<ProfilePicture.length;i++){
            formData.append("ProfilePicture", ProfilePicture[i]);
        }
        const res = await fetch("/get-profile-data",{
            method:'POST',
            body:formData
        })
        const data = await res.json()
        if(data.status==='success'){
            document.querySelector('#profileError').classList.remove("alert-danger")
            document.querySelector('#profileError').classList.add("alert-success")
            document.querySelector('#profileError').textContent = `${data.message}. Redirecting....`
            form.reset()
            editor.setData("");
            setTimeout(()=>{
                location.href=location.href
            },3000)
        }else{
            document.querySelector('#profileError').classList.add("alert-danger")
            document.querySelector('#profileError').textContent = data.message
        }
    })
</script>
<script>
    window.addEventListener('load', function () {
        document.querySelector('p#textBio').innerHTML = document.querySelector('p#textBio').getAttribute('data-bio')
    })
</script>